.storybookButton {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin-left: 10px;
}
.storybookButtonPrimary {
  color: white;
}

.orange {
  background-color: #F3A13B;
}

.purple {
   background-color: #6C3DB7;
}

.storybookButtonSecondary {
  color: grey;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.small {
  font-size: 12px;
  padding: 10px 16px;
}
.medium {
  font-size: 14px;
  padding: 11px 20px;
}
.large {
  font-size: 20px;
  padding: 10px 24px;
  /* letter-spacing: 1px; */
}


@media only screen and (max-width: 430px) {
  .small {
    display: none;
  }
}
