.heading {
  max-width: 1100px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  overflow: auto;
  padding: 10px 5%;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;

  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

.navbar-heading {
  display: inline;
  margin-left: 20px;
}

.headphones-logo {
  height: 40px;
  width: 40px;
}

.logo-heading_wrapper {
  display: flex;
  align-items: center;
}

li,
a,
button {
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 15px;
  margin-top: 6px;
  margin-bottom: 0px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: grey;
}

.nav-links li a:hover {
  color: #6c3db7;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile_expand {
  height: 15px;
  width: 10px;
  margin-left: 5px;
}

.user-profile_image {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.hamburger-menu {
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  display: none;
}

.hamburger-menu_image {
  /* margin-top: 5px; */
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.user-state {
  display: flex;
}
@keyframes widen {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}

@keyframes shrink {
  from {
    width: 250px;
  }
  to {
    width: 0px;
  }
}
.navigation-open * {
  transition: opacity 0.5s ease 0.25s;
  opacity: 1;
}

#sidebar {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
    0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
  transition: width 0.5s;
  position: absolute;
  width: 300px;
  height: 100vh;
  background: #f0f0f0;
  visibility: hidden;
}

.close-menu_image {
  /* margin-top: 5px; */
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.navigation {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
    0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
  animation: shrink 0.5s forwards;
  position: absolute;
  width: 300px;
  /* top: 0;
  right: 0; */
  height: 100vh;
  background: #f0f0f0;
  visibility: hidden;
}

.navigation-close {
  animation: close;
  animation-duration: 200ms;
}

.navigation-open {
  display: block;
  visibility: visible;
  /* opacity: 1; */
  /* right: 0; */
  animation: widen 0.5s forwards;
}

.sidebar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebar-menu ul {
  padding-left: 5px;
}

#sidebar-menu.active {
  visibility: visible;
  transition: 0.5s;
  display: block;
  right: 0px;
}

#sidebar-menu .toggle {
  visibility: hidden;
}

#sidebar-menu ul li {
  list-style: none;
  color: black;
  padding: 10px 20px;
}

#sidebar-menu ul li a {
  color: black;
  font-weight: 400;
}

.sidebar-heading {
  margin-top: 100px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 20px;
}

.sidebar-divider {
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 960px) {
  .nav-links {
    display: none;
  }
  .hamburger-menu {
    display: inherit;
  }
}

@media only screen and (max-width: 550px) {
  .navbar-heading {
    display: none;
  }
}

@media only screen and (max-width: 340px) {
  .storybook-button--small {
    display: none;
  }
  .navbar-heading {
    display: inline;
  }
}
