.heading {
  max-width: 1100px;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  /* overflow: auto; */
  padding: 10px 5%;
}

/* h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;

  display: inline-block;
  vertical-align: top;
} */

/* button + button {
  margin-left: 10px;
} */

.navbarHeading {
  display: inline;
  margin-left: 15px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.headphonesLogo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.logoHeadingWrapper {
  display: flex;
  align-items: center;
}

/* li,
a,
button {
  text-decoration: none;
} */

.navLinks {
  list-style: none;
}

.navLinksLi {
  display: inline-block;
  padding: 0px 15px;
  margin-top: 6px;
  margin-bottom: 0px;
  text-decoration: none;
}

.navLinksLiA {
  transition: 0.3s ease-in-out;
  color: grey;
  text-decoration: none;
  padding-bottom: 5px;
}

.navLinksLiA:hover {
  /* color: #f45c4c; */
  /* color: #f4a43c; */
  margin-top: 15px;
  border-bottom: 2px solid #f4a43c;
}

.userProfile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userProfileExpand {
  height: 15px;
  width: 10px;
  margin-left: 5px;
}

.userProfileImage {
  border-radius: 50px;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

.iconBadgeGroup .iconBadgeContainer {
  display: inline-block;
  margin-left: 15px;
}

.iconBadgeGroup .iconBadgeContainer:first-child {
  margin-left: 0;
}

.iconBadgeContainer {
  position: relative;
}

.iconBadgeIcon {
  position: relative;
}

.iconBadgeIcon:hover {
  color: #f3a140;
  /* color: #F45B49; */
}

.iconBadge {
  background-color: red;
  font-size: 12px;
  color: white;
  text-align: center;
  width: 20px;
  height: 15px;
  border-radius: 80%;
  position: absolute; /* changed */
  top: -10px; /* changed */
  left: 12px; /* changed */
}

.menuContainer {
  /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  display: inline-block;
}

.profileNavbar {
  /* z-index: 1;
  position: fixed;
  display: flex; */
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menuItem {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

/* .menuItem:first-child img{
  border:none;
}
.menuItem img{
  border-left: 1px solid black;
  padding: 0 10px;
} */

.dropDownMenu{
  /* display: none; */
  width: 120px;
  position: absolute;
  background: white;
  border: 1px solid #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .1);
  padding: 20px;
  top: 40px;
  left: -28px;
}
.menuItem:hover .dropDownMenu{
  display: block;
}


.dropDownMenu:before {
  content: "";
  position: absolute;
  border-color: #f9f9f9;
  border: solid transparent;
  border-bottom-color: white;
  border-width: 11px;
  margin-left: -10px;
  top: -21px;
  right: 65px;
  z-index: 1;
} 
 
.dropDownMenu:after {
    content: "";
    position: absolute;
    right: 66px;
    top: -21px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #f9f9f9;
    z-index: 0;
}

.profileNavbarNav {
  /* z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(218, 10, 10);
  position: fixed;
  top: 100;
  width: 100%;
  height: 47px; */
  list-style-type: none;
  margin: 10;
  padding: 0;
  width: 90px;
}

.profileNavItem {
  /* float: left; */
  text-decoration: none;
}

.profileNavLink {
  /* display: block;
  color: white !important;
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none !important;
  cursor: pointer; */
  color: black;
  padding: 1px 5px;
  text-decoration: none;
  display: block;
}

.profileNavLink:hover {
  /* background-color: rgb(255, 23, 15) !important; */
  background-color: #f1f1f1;
}

.shareBtn {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin-left: 10px;
  color: white;
  background-color: #f3a13b;
  font-size: 10px 15px;
  padding: 6px 15px;
  margin-bottom: 4px;
}

.shareBtn:hover {
  background-color: grey;
}

.hamburgerMenu {
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  display: none;
}

.hamburgerMenuImage {
  /* margin-top: 5px; */
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.userState {
  display: flex;
}
@keyframes widen {
  from {
    width: 0px;
  }
  to {
    width: 250px;
  }
}

@keyframes shrink {
  from {
    width: 250px;
  }
  to {
    width: 0px;
  }
}
.navigationOpen * {
  transition: opacity 0.5s ease 0.25s;
  opacity: 1;
}

#sidebar {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
    0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
  transition: width 0.5s;
  position: absolute;
  width: 300px;
  height: 100vh;
  background: #f0f0f0;
  visibility: hidden;
}

.closeMenuImage {
  /* margin-top: 5px; */
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.navbarWrapper {
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
  /* border-bottom: 1px solid #e9ecef; */

}

.navigation {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%),
    0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
  animation: shrink 0.5s forwards;
  position: absolute;
  max-width: 90rem;
  /* top: 0;
  right: 0; */
  height: 100vh;
  background: #f0f0f0;
  visibility: hidden;
}

.navigationClose {
  animation: close;
  animation-duration: 200ms;
}

.navigationOpen {
  display: block;
  visibility: visible;
  /* opacity: 1; */
  /* right: 0; */
  animation: widen 0.5s forwards;
  z-index: 99999;
}

.sidebarMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebarMenuUl {
  padding-left: 5px;
}

#sidebar-menu.active {
  visibility: visible;
  transition: 0.5s;
  display: block;
  right: 0px;
}

#sidebar-menu .toggle {
  visibility: hidden;
}

#sidebarMenuUlLi {
  list-style: none;
  color: black;
  padding: 10px 20px;
}

#sidebarMenuUlLiA {
  font-weight: 400;
}

.sidebarHeading {
  margin-top: 100px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 20px;
}

.sidebarDivider {
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 780px) {
  .navLinks {
    display: none;
  }
  .hamburgerMenu {
    display: inherit;
  }
}

@media only screen and (max-width: 340px) {
  .navbarHeading {
    display: inline;
  }
}
